/assets/adorned
/assets/citations
/assets/db_exclude
/assets/foreign
/assets/misc
/assets/plain_all
/assets/plain_body
/assets/relevant
/assets/translations
/assets/unique
/assets/vocab
/assets/Bibles/Bible-kjv-1611